.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.dashboard--overview {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dashboard--overview div {
  padding: 2rem;
}

.dashboard--projects {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard--overview--content {
  width: 20vw;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.dashboard--overview--content div {
  height: 100%;
  width: 100%;
  border: 2px solid rgb(221, 210, 210);
  padding: 2rem;
  margin: 0.1rem;
}

.dashboard--overview--content div h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.dashboard--overview--questions {
  width: 90%;
  height: calc(
    100% - 10rem
  ); /* Adjust the height based on your footer height */
}

.dashboard--button {
  height: 100%;
  width: 20vw;
  font-size: 2rem;
  font-weight: 700;
  background-color: #eeecec;
  border: 2px solid rgb(221, 210, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #14213d;
  margin-top: 0rem;
}

.dashboard--button--next {
  font-size: 1rem;
  font-weight: 400;
  background-color: #eeecec;
  border: 2px solid rgb(221, 210, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: #14213d;
  margin-top: 0rem;
  width: 10rem;
}

.dashboard--button div {
  padding: 0.5vh;
}

.dashboard--img {
  width: 5rem;
  height: 5rem;
  background-position: top;
  background-image: url("./img-form.png");
  background-repeat: no-repeat;
  background-size: 5rem;
}

.dashboard--question--entry {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid rgb(221, 210, 210);
  background-color: #eeecec;
}

.question {
  width: 30rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
}

.dashboard--question--entry div {
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dashboard--question--table {
  background-color: #eeecec;
  border: 2px solid rgb(221, 210, 210);
  border-radius: 5px;
}

.dashboard--question--table td {
  padding: 1rem;
  width: 100%;
  align-items: center;
  text-align: center;
}

.dashboard--question--table tr {
  padding: 2rem;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.dashboard--question--table thead tr th {
  padding: 1rem;
}

.dashboard--next--page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dashboard--next--page span {
  padding: 1rem;
}

.create-container {
  background-color: #fff;
  border: 2px solid rgb(221, 210, 210);
  border-radius: 5px;
  width: 700px;
  height: 650px;
  padding: 1rem 4rem 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.create-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.create-container label {
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 100%;
  min-width: 100%;
}

.create-container input[type="text"],
.create-container input[type="date"],
.create-container input[type="file"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.create-container input[type="file"] {
  height: 3rem;
  overflow: hidden;
}

.create-container button[type="submit"] {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.create-container button[type="submit"]:hover {
  background-color: #0062cc;
}

.create-container input[type="file"]:focus {
  outline: none;
  border: 1px solid #007bff;
}

.create-container input[type="file"]::before {
  content: "Choose a file or drag it here";
  display: block;
  margin-top: -2rem;
  margin-bottom: 1rem;
  color: #aaa;
  font-size: 0.8rem;
  text-align: center;
}

.create-container input[type="file"]:hover::before {
  color: #007bff;
}

.create-container .create--statement {
  width: 100%;
  height: 100px;
  resize: none;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.create--checkbox {
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-top: -1rem;
}

.create--checkbox label input {
  margin: 0.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure the overlay appears above other content */
}

.blur {
  filter: blur(4px); /* Apply blur effect to the content */
}

.progress-bar {
  height: 5px;
  background-color: #ccc;
  margin-top: 10px;
}

.progress-bar::before {
  content: "";
  display: block;
  height: 100%;
  background-color: green;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 24px;
}

.next-step {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.create--receipt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  height: auto;
  width: 100%;
  padding: 2rem 2rem 3rem 2rem;
  margin-bottom: 2rem;
}

.loading-bar {
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  position: relative;
}

.loading-bar:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #2196f3;
  animation: loading-progress 2s ease-in-out infinite;
}

@keyframes loading-progress {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-participants-container {
  background-color: #fff;
  border: 2px solid rgb(221, 210, 210);
  width: 500px;
  height: 600px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.add-participants-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.file-drop-area {
  border: 2px dashed rgb(221, 210, 210);
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.file-drop-text {
  text-align: center;
}

.file-drop-icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.file-drop-description {
  font-size: 1rem;
}

.drag-over {
  background-color: rgba(0, 123, 255, 0.1);
}

.file-selected {
  border-color: #007bff;
}

.institution-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="file"] {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="file"]:focus {
  border-color: #007bff;
}

input[type="text"][value]:not([value=""]),
input[type="file"][value]:not([value=""]) {
  border-color: #007bff;
}

.add-participants-inst {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.add-participants-input {
  width: 350px;
  margin: 10px;
}
