<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Close Survey</title>
    <script type="text/javascript">{% include "test/cookie.js" %}</script>
    <script type="text/javascript">{% include "test/ajax.js" %}</script>
    <script type="text/javascript">{% include "test/dropdown.js" %}</script>
</head>
<body>

<h1>Close Survey</h1>

<form id="close_survey" action="/api/survey/create" method="post" enctype="multipart/form-data">

    <fieldset>
        <legend>Close Survey:</legend>
        {% include "test/surveydropdown.html" %}
    </fieldset>

    <input type="submit" name="submit" value="Close Survey" />
    {% csrf_token %}
</form>

<hr />
<code>
<span id="result"></span>
</code>

<script type="text/javascript">
    const API_ROUTE_URI = "/api/survey/close/";
    const FORM_ELEMENT = "close_survey";
    const SELECT_DROPDOWN = document.getElementById("survey");

    const LOAD_FUNCTION = function (res) {
        console.log(">>" + this.responseText)
        result = JSON.parse(this.responseText)
        if(result.status === "success"){
            let selected = SELECT_DROPDOWN.options[SELECT_DROPDOWN.selectedIndex];
            SELECT_DROPDOWN.removeChild(selected)
        }
    }
</script>


<br /><hr />
<div style="text-align: right">
    <a href="/test/vote/">&lsaquo;&lsaquo; Vote</a>
    ||
    <a href="/test/results/">Download Results &rsaquo;&rsaquo;</a>
</div>

