<!DOCTYPE html>
<html lang="en">
<head></head>
<body>

<form id="create_survey" action="/api/survey/create" method="post" enctype="multipart/form-data">

    <fieldset>
        <legend>Create Survey:</legend>

        <label for="question">Survey Question</label>
        <input type="text" id="question" name="question"/>

        <label for="expiry">Expiry</label>
        <input type="datetime-local" id="expiry" name="expiry"/>
    </fieldset>


    <fieldset>
        <legend>Active:</legend>

        <div>
          <input type="radio" id="true" name="active" value="True" checked>
          <label for="true">True</label>
        </div>

        <div>
          <input type="radio" id="false" name="active" value="False">
          <label for="false">False</label>
        </div>
    </fieldset>


    <fieldset>
        <legend>Create Links:</legend>

        <div>
          <input type="radio" id="true" name="create_active_links" value="True" checked>
          <label for="true">True</label>
        </div>

        <div>
          <input type="radio" id="false" name="create_active_links" value="False">
          <label for="false">False</label>
        </div>
    </fieldset>


    <input type="submit" name="Submit" value="Create Survey" />

    <input type="hidden" id="kind" name="kind" value="LI" />
    {% csrf_token %}
</form>

<hr />
<code>
<span id="result"></span>
</code>

{%  include "ajax.html" %}
<script type="text/javascript">

    const API_ROUTE_URI = "/api/survey/create/";
    const FORM_ELEMENT = "create_survey";

    function setDate() {
        const dateControl = document.querySelector('input[type="datetime-local"]#expiry');
        let date = new Date()
        date.setHours(0,0,0,0);
        date.setMonth(date.getMonth()+1)
        dateControl.valueAsDate = date;
    }

    window.addEventListener('load', (event) => {
        setDate();
    });
</script>

<br /><hr />
<div style="text-align: right">
    <a href="/api/participants/upload/">&lsaquo;&lsaquo; Upload Participants</a>
    ||
    <a href="/api/links/">Download Links &rsaquo;&rsaquo;</a>
</div>

