.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 4rem;
  border-bottom: none;
}

.footer div {
  list-style: none;
  margin-left: 1rem;
}

.footer div a,
.footer div button {
  font-weight: 500;
  padding: 1rem;
  color: #333;
  text-decoration: none;
  border: none;
}

.footer p {
  font-size: 1rem;
  font-weight: 600;
}

.footer a:hover,
.footer button:hover {
  color: rgba(51, 51, 51, 0.7); /* Change the color to 70% visibility */
}

@media (max-width: 450px) {
  .footer p {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
