@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #e5e5e5;
  color: #14213d;
  letter-spacing: -0.05em;
}

.div {
  width: 100vw;
  height: 100vh;
}

a {
  color: #3c096c;
}

h1,
h2,
h3,
p,
ol,
ul {
  font-family: "Inter";
  font-style: normal;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  padding: 1rem 0rem 1rem 0rem;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 0rem 1rem 0rem;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0rem 1rem 0rem;
}

p,
ol,
ul {
  font-size: 1.2rem;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.centered {
  justify-content: center;
}

.padding {
  padding: 2rem;
}

.button {
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  width: 20rem;
  text-align: center;
  border: 2px solid #007bff;
  font-weight: 500;
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: #007bff;
  color: #ffffff;
}

.button:hover {
  filter: opacity(0.7);
  transition: 0.2s ease-in-out;
}

@media (max-width: 450px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3,
  p,
  ol,
  ul {
    font-size: 1rem;
  }
}

/* NAV BAR */

.nav {
  background-color: #e5e5e5;
  box-shadow: 0 0 5px 10px #e5e5e5;
  color: #14213d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  text-align: center; /* center the navigation bar */
  z-index: 998;
  top: 0;
  left: 0;
  padding: 30px;
}

.site-title {
  font-size: 1.5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  position: relative;
  width: 100%;
}

.nav a {
  color: inherit;
  padding: 1rem;
  text-decoration: none;
  border-bottom: none;
  margin-right: 1rem;
}

.nav a:hover {
  color: rgba(51, 51, 51, 0.7);
  transition: 0.2s ease-in;
}

.nav li {
  list-style: none;
}

.nav li a {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.05em;
}

@media screen and (max-width: 450px) {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100vw;
  }

  .nav li {
    display: none;
    padding: 0;
  }

  .site-title {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10bh;
}

.footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer li {
  list-style: none;
  margin-left: 1rem;
}

.footer li a {
  font-weight: 500;
  letter-spacing: -0.05em;
  padding: 1rem;
  color: #333;
  text-decoration: none;
}

.footer p {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.05em;
}

.footer li a:hover {
  color: rgba(51, 51, 51, 0.7); /* Change the color to 70% visibility */
}

@media (max-width: 450px) {
  .footer p {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* HOME */

.home--container {
  flex-direction: row;
}

.home {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.home--title {
  padding: 2rem;
  width: 100%;
}

.home-pic {
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url("./front-page-img.png");
  background-repeat: no-repeat;
  background-size: 30rem;
}

.home--eyecatching {
  flex-direction: row;
  background-color: #dfab77;
  margin-bottom: 2rem;
  justify-content: flex-start;
  height: fit-content;
  padding: 2rem;
}

.home--eyecatching div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
}

.home--eyecatching h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #f5f2ee;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.home--eyecatching h1 {
  color: #f5f2ee;
  font-size: 6rem;
  padding-right: 4rem;
}

.home-pic-2 {
  width: 50%;
  height: 30rem;
  background-position: center;
  background-image: url("./front-page-comp.png");
  background-repeat: no-repeat;
  background-size: 20rem;
}

.home--about {
  background-color: #d9d1d3;
  padding: 4rem;
  height: auto;
  flex-direction: column;
}

.home--about h2,
.home--about h3 {
  padding: 2rem;
}

.home--about h3 {
  font-size: 1.2rem;
  font-weight: 500;
  width: 50%;
}

.home--about h2 {
  letter-spacing: -0.05em;
}

.home--button {
  border: 2px solid #df8c59;
  background-color: #e89866;
  color: #ffffff;
  font-size: 1.2rem;
}

.home-pic-3 {
  width: 50%;
  height: 15rem;
  background-position: center;
  background-image: url("./front-page-scientists.png");
  background-repeat: no-repeat;
  background-size: 15rem;
  filter: opacity(0.8);
}

@media (max-width: 450px) {
  .home--container {
    flex-direction: column;
    justify-content: flex-start;
    height: none;
    padding: 0rem;
  }
  .home--title {
    padding: 1rem;
  }

  .home-pic {
    width: 100%;
    height: 50%;
  }

  .home--eyecatching {
    height: none;
    padding: 2rem;
  }
  .home--eyecatching h1 {
    height: auto;
    font-size: 2rem;
    padding: 0rem;
  }

  .home--eyecatching h2 {
    padding-left: 0rem;
    font-size: 1rem;
  }

  .home-pic-2 {
    background-size: none;
  }

  .home-pic-3 {
    background-size: 10rem;
    padding: 5rem;
  }

  .home--about {
    height: auto;
    flex-direction: column;
    padding: 1rem;
    padding-top: 4rem;
  }
  .home-pic {
    background-size: 20rem;
  }

  .home--about h3 {
    font-size: 1rem;
  }

  .home--button {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}

.about--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  width: 80%;
}

@media (max-width: 450px) {
  .about--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .about {
    margin-bottom: 5rem;
    width: 80%;
  }
}

/* POLL */

.poll--total {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  backdrop-filter: blur(0px);
}

.background-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./background.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 50% 80%;
  filter: blur(25px) opacity(0.15);
  z-index: -1;
}

.mirror {
  transform: scaleX(-1);
}

.poll {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-grow: 1;
  padding: 1rem;
}

.poll--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 600px;
  border-radius: 5px;
  border: 2px solid rgba(51, 51, 51, 1);
  background-color: #eeecec;
}

.poll--blurb {
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: -0.05em;
  color: #5c667d;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.poll--question {
  font-weight: 600;
  font-size: 1.8rem;
  color: #14213d;
  margin-top: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.poll--options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.poll--options {
  list-style: none;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  color: #14213d;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poll--options li {
  padding: 0.2rem;
  margin: 0;
}

.poll--submit {
  cursor: pointer;
  border: 2px solid rgba(51, 51, 51, 0.7);
  font-size: 1.3rem;
  background-color: rgba(51, 51, 51, 0.7);
  margin-bottom: 2rem;
}

.poll--submit-active:hover {
  opacity: 100%;
}

.poll--submit-active {
  transition: 0.2s ease-in;
  background-color: #14213d;
  color: #ffffff;
}

.poll--submit-active:hover {
  opacity: 70%;
  transition: 0.2s ease-in-out;
}

/* poll form */

.poll--options li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.poll--checkbox {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  outline: none;
  border: 2px solid #14213d;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poll--checkbox + label {
  transition-duration: 0.2s;
}

.poll--checkbox + label {
  font-size: 1.3rem;
}

.poll--checkbox:checked {
  content: "\2715";
  font-size: 1.5rem;
  color: #14213d;
}

.poll--checkbox:checked + label:before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #14213d;
  border-radius: 2px;
}

.poll--checkbox:checked + label:before {
  display: none;
}

.poll--checkbox:checked:after {
  content: "\2715";
  font-size: 1.5rem;
  color: #14213d;
}

.poll--checkbox:not(:checked):hover {
  content: "\2715";
  font-size: 1.5rem;
  color: #5c667d;
  transition: 0.1s ease-in-out;
}

.poll--checkbox:not(:checked):hover::after {
  content: "\2715";
  font-size: 1.5rem;
  color: #5c667d;
  transition: 0.1s ease-in-out;
}

.poll--option-spacer label {
  /* padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; */
  font-size: 1rem;
  color: #888e9b;
}
.poll--option-spacer input {
  /* padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;  */
  border-color: #888e9b !important;
  height: 1rem;
  width: 1rem;
}

.poll--option-spacer {
  /* padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; */
  padding-left: 5rem !important;
}

@media screen and (max-width: 450px) {
  .poll--box {
    width: 95%;
    margin-top: 1rem;
    height: none;
  }
  .poll {
    padding: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    border: #d9d1d3;
  }
  .poll--total {
    height: auto;
  }

  .background-blur {
    height: 0%;
  }
  .poll--options {
    font-size: 1.2rem;
  }
  .poll--blurb {
    font-size: 1.2rem;
  }
  .poll--question {
    font-size: 1.5rem;
  }
  .poll--submit {
    font-size: 1.2rem;
  }
}

/* thank you */
.thankyou--container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thankyou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 600px;
  margin: 2rem;
  padding: 2rem 4rem 6rem;
  text-align: left;
  border: 2px solid rgba(51, 51, 51, 1);
  background-color: #eeecec;
  border-radius: 5px;
}

@media screen and (max-width: 450px) {
  .thankyou--title {
    font-size: 2rem;
    -webkit-line-clamp: 3;
    margin-top: 2rem;
  }
  .thankyou--para {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
  }
}

/* ethics */

.ethics--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ethics--content {
  margin-bottom: 5rem;
  width: 80%;
}

@media (max-width: 450px) {
  .ethics--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .ethics {
    margin-bottom: 5rem;
    width: 80%;
  }
}

.login--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login--content {
  width: 50%;
  height: 90%;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid rgba(51, 51, 51, 1);
  background-color: #eeecec;
}

.login--form {
  height: 40%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}

.login--form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login--form label {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  text-align: center;
}

.login--form input {
  font-size: 1rem;
  width: 25vw;
  min-height: 3vh;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  text-align: left;
}

.login--form button {
  font-size: 1rem;
  font-weight: 500;
}

.login--pic {
  background-size: 5rem;
  height: 5rem;
  margin-top: 1rem;
}

.login--form h1 {
  font-size: 1rem;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.dashboard--overview {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dashboard--overview div {
  padding: 2rem;
}

.dashboard--projects {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard--overview--content {
  width: 20vw;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.dashboard--overview--content div {
  height: 100%;
  width: 100%;
  border: 2px solid rgb(221, 210, 210);
  padding: 2rem;
  margin: 0.1rem;
}

.dashboard--overview--content div h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.dashboard--overview--questions {
  width: 90%;
  height: calc(
    100% - 10rem
  ); /* Adjust the height based on your footer height */
}

.dashboard--button {
  height: 100%;
  width: 20vw;
  font-size: 2rem;
  font-weight: 700;
  background-color: #eeecec;
  border: 2px solid rgb(221, 210, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #14213d;
  margin-top: 0rem;
}

.dashboard--button--next {
  font-size: 1rem;
  font-weight: 400;
  background-color: #eeecec;
  border: 2px solid rgb(221, 210, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: #14213d;
  margin-top: 0rem;
  width: 10rem;
}

.dashboard--button div {
  padding: 0.5vh;
}

.dashboard--img {
  width: 5rem;
  height: 5rem;
  background-position: top;
  background-image: url("./img-form.png");
  background-repeat: no-repeat;
  background-size: 5rem;
}

.dashboard--question--entry {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid rgb(221, 210, 210);
  background-color: #eeecec;
}

.question {
  width: 30rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
}

.dashboard--question--entry div {
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dashboard--question--table {
  background-color: #eeecec;
  border: 2px solid rgb(221, 210, 210);
  border-radius: 5px;
}

.dashboard--question--table td {
  padding: 1rem;
  width: 100%;
  align-items: center;
  text-align: center;
}

.dashboard--question--table tr {
  padding: 2rem;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.dashboard--question--table thead tr th {
  padding: 1rem;
}

.dashboard--next--page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dashboard--next--page span {
  padding: 1rem;
}

.create-container {
  background-color: #fff;
  border: 2px solid rgb(221, 210, 210);
  border-radius: 5px;
  width: 700px;
  height: 650px;
  padding: 1rem 4rem 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.create-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.create-container label {
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 100%;
  min-width: 100%;
}

.create-container input[type="text"],
.create-container input[type="date"],
.create-container input[type="file"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.create-container input[type="file"] {
  height: 3rem;
  overflow: hidden;
}

.create-container button[type="submit"] {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.create-container button[type="submit"]:hover {
  background-color: #0062cc;
}

.create-container input[type="file"]:focus {
  outline: none;
  border: 1px solid #007bff;
}

.create-container input[type="file"]::before {
  content: "Choose a file or drag it here";
  display: block;
  margin-top: -2rem;
  margin-bottom: 1rem;
  color: #aaa;
  font-size: 0.8rem;
  text-align: center;
}

.create-container input[type="file"]:hover::before {
  color: #007bff;
}

.create-container .create--statement {
  width: 100%;
  height: 100px;
  resize: none;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.create--checkbox {
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-top: -1rem;
}

.create--checkbox label input {
  margin: 0.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure the overlay appears above other content */
}

.blur {
  filter: blur(4px); /* Apply blur effect to the content */
}

.progress-bar {
  height: 5px;
  background-color: #ccc;
  margin-top: 10px;
}

.progress-bar::before {
  content: "";
  display: block;
  height: 100%;
  background-color: green;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 24px;
}

.next-step {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.create--receipt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  height: auto;
  width: 100%;
  padding: 2rem 2rem 3rem 2rem;
  margin-bottom: 2rem;
}

.loading-bar {
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  position: relative;
}

.loading-bar:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #2196f3;
  animation: loading-progress 2s ease-in-out infinite;
}

@keyframes loading-progress {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-participants-container {
  background-color: #fff;
  border: 2px solid rgb(221, 210, 210);
  width: 500px;
  height: 600px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.add-participants-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.file-drop-area {
  border: 2px dashed rgb(221, 210, 210);
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.file-drop-text {
  text-align: center;
}

.file-drop-icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.file-drop-description {
  font-size: 1rem;
}

.drag-over {
  background-color: rgba(0, 123, 255, 0.1);
}

.file-selected {
  border-color: #007bff;
}

.institution-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="file"] {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="file"]:focus {
  border-color: #007bff;
}

input[type="text"][value]:not([value=""]),
input[type="file"][value]:not([value=""]) {
  border-color: #007bff;
}

.add-participants-inst {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.add-participants-input {
  height: 30px;
  width: 350px;
  padding: 1rem;
  border: 2px solid rgb(221, 210, 210);
  border-radius: 5px;
}

.download--container {
  border: 2px solid rgb(221, 210, 210);
  height: 85vh;
  width: 60vw;
  background-color: #eeecec;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.download--content {
  width: 50%;
  height: 80%;
  border: 2px solid rgb(221, 210, 210);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.download--content div {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.download--button {
  font-size: 1rem;
  padding: 0.2rem;
  width: 8rem;
  background-color: #007bff;
  border-color: #0062cc;
}
