@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #E5E5E5;
  color: #14213D;
  letter-spacing: -0.05em;
}

.div {
  width: 100vw;
  height: 100vh;
}

a {
  color: #3c096c;
}

h1, h2, h3, p, ol, ul {
  font-family: 'Inter';
  font-style: normal;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

p, ol, ul {
  font-size: 1.5rem;
  font-weight: 400;
}


.container{  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}


.button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  width: 20rem;
  text-align: center;
  border: 2px solid #df8c59;
  font-weight: 500;
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color:#e89866;
  color: #FFFFFF;
}

.button:hover {
  filter: opacity(0.7);
  transition: 0.2s ease-in-out;
}


@media (max-width: 450px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3, p, ol, ul {
    font-size: 1rem;
  }
}


/* NAV BAR */ 

.nav {
  background-color: #E5E5E5;
  box-shadow: 0 0 5px 10px #E5E5E5;
  color: #14213D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  text-align: center; /* center the navigation bar */
  z-index: 9999; 
  top: 0;
  left: 0;
  padding: 30px;
}


.site-title {
  font-size: 1.5rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  position: relative;
  width: 100%;
}

.nav a {
  color: inherit;
  padding: 1rem;
  text-decoration: none;
  border-bottom: none;
  margin-right: 1rem;
}

.nav a:hover {
  color: rgba(51, 51, 51, 0.7);
  transition: .2s ease-in;
}


.nav li {
  list-style: none;
}

.nav li a {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.05em;
}

@media screen and (max-width: 450px) {
  html, body {
    margin: 0;
    padding: 0;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100vw;
  }
  
  .nav li {
    display: none;
    padding: 0;
  }
  
  .site-title {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}



/* footer */


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10bh;
}

.footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer li {
  list-style: none;
  margin-left: 1rem;
}

.footer li a {
  font-weight: 500;
  letter-spacing: -0.05em;
  padding: 1rem;
  color: #333;
  text-decoration: none;
}

.footer p{
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.05em;
}

.footer li a:hover {
  color: rgba(51, 51, 51, 0.7); /* Change the color to 70% visibility */
}


@media (max-width: 450px) {
  .footer p{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}


/* HOME */

.home--container {
  flex-direction: row;
}

.home {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.home--title {
  padding: 2rem;
  width: 100%;
}

.home-pic{
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: url('./front-page-img.png');
  background-repeat: no-repeat;
  background-size: 30rem;
}


.home--eyecatching{
  flex-direction: row;
  background-color: #DFAB77;
  margin-bottom: 2rem;
  justify-content: flex-start;
  height: fit-content;
  padding:2rem;
}

.home--eyecatching div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
}


.home--eyecatching h2{
  font-size: 1.2rem;
  font-weight: 500;
  color: #f5f2ee;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.home--eyecatching h1{
  color: #f5f2ee;
  font-size: 6rem;
  padding-right: 4rem;
}


.home-pic-2{
  width: 50%;
  height: 30rem;
  background-position: center;
  background-image: url('./front-page-comp.png');
  background-repeat: no-repeat;
  background-size: 20rem;
}



.home--about{
  background-color: #D9D1D3;
  padding: 4rem;
  height: auto;
  flex-direction: column;
}

.home--about h2, .home--about h3{
  padding: 2rem;
}

.home--about h3{
  font-size: 1.2rem;
  font-weight: 500;
  width: 50%;
}

.home--about h2{
  letter-spacing: -0.05em;
}


.home--button {
  border: 2px solid #df8c59;
  background-color:#e89866;
  color: #FFFFFF;
  font-size: 1.2rem;
}


.home-pic-3{
  width: 50%;
  height: 15rem;
  background-position: center;
  background-image: url('./front-page-scientists.png');
  background-repeat: no-repeat;
  background-size: 15rem;
  filter: opacity(0.8);
}



@media (max-width: 450px) {
  .home--container{
    flex-direction: column;
    justify-content: flex-start;
    height: none;
    padding: 0rem;

  }
  .home--title {
    padding: 1rem;
  }

  .home-pic{
    width: 100%;
    height: 50%;
  }

  .home--eyecatching{
    height: none;
    padding: 2rem;
  }
  .home--eyecatching h1{
    height: auto;
    font-size: 2rem;
    padding: 0rem;
  }

  .home--eyecatching h2{
    padding-left: 0rem;
    font-size: 1rem;
    
  }

  .home-pic-2{
    background-size: none;
  }

  .home-pic-3{
    background-size: 10rem;
    padding: 5rem;
  }

  .home--about{
    height: auto;
    flex-direction: column;
    padding: 1rem;
    padding-top:4rem;
  }
  .home-pic{
    background-size: 20rem;
  }

  .home--about h3{
    font-size: 1rem;
  }

  .home--button {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

}





.about--container{  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}

.about {

  width: 80%;
}



@media (max-width: 450px) {
  .about--container{  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;}
  
  .about {
    margin-bottom: 5rem;
    width: 80%;
  }
}



 /* POLL */ 
 .poll--total {
  position: relative;
  width: 100vw;
  min-height: 100vh; /* Use min-height instead of height */
  backdrop-filter: blur(0px);
}

.background-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./background.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 50% 80%;
  filter: blur(10px) opacity(0.2);
  z-index: -1; /* Ensure the background is behind the content */
}

.mirror {
  transform: scaleX(-1);
}

.poll {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
}

.poll--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 5px;
  border: 2px solid rgba(51, 51, 51, 1);
  background-color: #eeecec;
}


.poll--blurb{
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  color: #5c667d;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.poll--question {
  font-weight: 600;
  font-size: 2rem;
  color: #14213D;
  margin-top: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.poll--options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.poll--options {
  list-style: none;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  color: #14213D;
  padding: 0;
  margin: 0;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.poll--options li {
  padding: 0.2rem;
  margin: 0;
}

.poll--submit {
  cursor: pointer;
  border: 2px solid rgba(51, 51, 51, 0.7);
  font-size: 1.5rem;
  background-color:rgba(51, 51, 51, 0.7);
  margin-bottom: 2rem;
}

.poll--submit-active:hover {
  opacity: 100%;
}


.poll--submit-active{
  transition: 0.2s ease-in;
  background-color:#14213D;
  color: #FFFFFF;
}

.poll--submit-active:hover {
  opacity: 70%;
  transition: 0.2s ease-in-out;
}

/* poll form */

.poll--options li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.poll--checkbox {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  outline: none;
  border: 2px solid #14213D;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .poll--checkbox + label {
  transition-duration: 0.2s;
  }
  
  .poll--checkbox + label {
  font-size: 1.5rem;
  }
  
  .poll--checkbox:checked {
  content: "\2715";
  font-size: 1.5rem;
  color: #14213D;
  }
  
  .poll--checkbox:checked + label:before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #14213D;
  border-radius: 2px;
  }
  
  .poll--checkbox:checked + label:before {
  display: none;
  }
  
  .poll--checkbox:checked:after {
  content: "\2715";
  font-size: 1.5rem;
  color: #14213D;
  }
  
  .poll--checkbox:not(:checked):hover {
  content: "\2715";
  font-size: 1.5rem;
  color: #5c667d;
  transition: .1s ease-in-out;
  }
  
  .poll--checkbox:not(:checked):hover::after {
  content: "\2715";
  font-size: 1.5rem;
  color: #5c667d;
  transition: .1s ease-in-out;
  }

  .poll--option-spacer label {
    /* padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; */
    font-size: 1rem;
    color: #888e9b 
  }
  .poll--option-spacer input {
    /* padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;  */
    border-color: #888e9b !important;
    height: 1rem;
    width: 1rem;
  }

  .poll--option-spacer {
    /* padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; */
    padding-left: 5rem !important;
  }
  

  @media screen and (max-width: 450px) {
  .poll--box {
  width: 95%;
  margin-top: 1rem;
  height: none;
  }
  .poll {
  padding: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  border: #D9D1D3;
  }
  .poll--total{
    height: auto;
  }

  .background-blur{
  height: 0%;
  }
  .poll--options {
  font-size: 1.2rem;
  }
  .poll--blurb {
  font-size: 1.2rem;
  }
  .poll--question {
  font-size: 1.5rem;
  }
  .poll--submit {
  font-size: 1.2rem;
  }
  }



/* thank you */
.thankyou--container{
  height: 100vh;
}

.thankyou {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  margin-bottom: 5rem;
  align-items: flex-start;
}


.thankyou--title {
  font-size: 10rem;
  letter-spacing: -0.05em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow:visible;
  white-space: normal;
  margin-top: 1rem;
}

.thankyou--para {
  font-size: 2rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin-top: 1rem;
}

@media screen and (max-height: 1600px) {
  .thankyou--title {
    font-size: 8rem;
    margin-left:auto;
    margin-bottom: 3rem;
  }
}


@media screen and (max-width: 450px) {
  .thankyou--title {
    font-size: 2rem;
    -webkit-line-clamp: 3;
    margin-top: 2rem;
  }
  .thankyou--para {
    padding:0;
    margin:0;
    font-size:1.3rem;
  }
}




/* ethics */ 

.ethics--container{  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}

.ethics--content {
  margin-bottom: 5rem;
  width: 80%;
}

@media (max-width: 450px) {
  .ethics--container{  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;}
  
  .ethics {
    margin-bottom: 5rem;
    width: 80%;
  }
}





.login--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.login-box{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login--content {
  width: 50%;
  height: auto;
  padding: 4rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid rgba(51, 51, 51, 1);
  background-color: #eeecec;
}

.login--form{
  height:40%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}

.login--form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login--form label {
  font-size: 1rem;
  font-weight: 500;
  padding: .5rem;
}

.login--form input {
  font-size: 1rem;
  width: 25vw;
  height: 3vh;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}

.login--form button {
  font-size: 1rem;
  font-weight: 500;
}

.login--pic {
  background-size: 10rem;
  height: 10rem;
  margin-top: 1rem;
}

.login--form h1 {
  font-size: 1rem;
}







.dashboard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.dashboard--overview{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.dashboard--projects{
  width: 70%;
  height: 100%;
}

.dashboard--overview--create{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.dashboard--overview--content{
  width: 20vw;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid rgb(221, 210, 210);
  border-radius: 5px;
  background-color: #eeecec;
  padding: 2rem;
}

.dashboard--overview--content div h2 {
  font-size: 2rem;
  padding: .5rem;
}

.dashboard--overview--content div h3 {
  font-size: 2.5rem;
  padding: .5rem;
  font-weight: 1000;
}

.dashboard--projects{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.dashboard--overview--hello{
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}
.dashboard--overview--hello h2{
  font-size: 5rem;
  font-weight: 700;
  padding: .5rem;
}

.dashboard--overview--questions{
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: left;
  border: 2px solid rgb(221, 210, 210);
  border-radius: 5px;
  background-color: #eeecec;
}


.dashboard--button{
  height: 20vh;
  width: 20vw;
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #14213D;
  border: 2px solid rgba(51, 51, 51, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #E8F2F9;
}

.dashboard--img{
  width: 5rem;
  height: 5rem;
  background-position: top;
  background-image: url('./img-form.png');
  background-repeat: no-repeat;
  background-size: 5rem;
}

.dashboard--question--entry{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid rgb(221, 210, 210);
  background-color: #eeecec;
}

.question{
  width: 30rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
}

.dashboard--question--entry div{
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dashboard--download--img{
  background-position: center;
  background-image: url('./download-img.png');
  background-repeat: no-repeat;
  background-size: 3rem;
}














.create{
  border: 2px solid rgb(221, 210, 210);
  width: 50vw;
}

.create form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2rem;
}

.create label {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.create  input[type="text"],
.create  input[type="date"],
.create  input[type="file"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.create input[type="file"] {
  height: 3rem;
  overflow: hidden;
}

.create button[type="submit"] {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.create button[type="submit"]:hover {
  background-color: #0062cc;
}

.create input[type="file"]:focus {
  outline: none;
  border: 1px solid #007bff;
}

.create input[type="file"]::before {
  content: 'Choose a file or drag it here';
  display: block;
  margin-top: -2rem;
  margin-bottom: 1rem;
  color: #aaa;
  font-size: 0.8rem;
  text-align: center;
}

.create input[type="file"]:hover::before {
  color: #007bff;
}

.create--statement {
  width: 100%;
  height: 100px;
  resize: none;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}


.progress-bar {
  height: 5px;
  background-color: #ccc;
  margin-top: 10px;
}

.progress-bar::before {
  content: '';
  display: block;
  height: 100%;
  background-color: green;
}


.icons-class{
  font-family: "Material Symbols Outlined";
  font-size: 24px;
}



.next-step{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}