.home-all p {
  font-size: 1.6vw;
  font-weight: 500;
  margin-top: 1vw;
  margin-bottom: 2vw;
}

.home-all h2 {
  font-size: 4vw;
  font-weight: 700;
  margin-bottom: 1vw;
}

.home--button {
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  background-color: #007bff;
  color: #ffffff;
  border: 2px solid #007bff;
  width: 20vw;
  margin: 0 auto;
}

.home--container {
  flex-direction: row;
  height: 50vw;
}

.home--about--container {
  position: relative;
  background-color: #f4f5fa;
  height: 60vw;
  width: 100%;
  margin: 0 auto;
}

.home--about--text {
  max-width: 1920px;
  position: relative;
}

.home--about--overlay {
  margin: 0 auto;
}

.home--ethics--container {
  flex-direction: row;
  background-color: #fed26f;
  padding: 2vw;
  height: 60vw;
  width: 100%;
  margin-bottom: 2vw;
}

.home--ethics--text {
  max-width: 1920px;
  width: 100%;
}

.home--ethics--overlay {
  margin: 0 auto;
  width: 100%;
}

/* main */

.home--title {
  padding: 0 0 6vw 6vw;
  width: 50%;
  font-size: 4.5vw;
  position: relative;
}

.home-pic {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vw;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 60%;
  padding: 0;
  z-index: 0;
}

/* ethics */

.home--ethics--container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 4vw;
}

.home-pic-2 {
  width: 30vw;
  height: 30vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30vw;
}

/* about */

.home-pic-3 {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60vw;
}

.home--about--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(239, 225, 209, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home--about--text {
  text-align: center;
  padding: 2vw;
  width: 80%;
}

/**
 * Mobile CSS
 */
@media (max-width: 768px) {
  .home--container {
    justify-content: flex-end;
    flex-direction: column-reverse;
    padding: 6vw;
    background-color: #264a8e;
    height: auto;
  }

  .home--about--container {
    height: auto;
  }

  .home--about--overlay {
    position: relative;
    height: auto;
    padding: 2rem;
  }

  .home div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home--title {
    padding: 0;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    color: #ded3d3;
    font-weight: 700;
    margin: 0;
  }

  .home--button {
    width: 100%;
  }

  .home-all p {
    font-size: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-weight: 500;
    text-align: justify;
    margin: 2em 0;
  }

  .home-all h2 {
    font-size: 2rem;
    font-weight: 700;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .home-all h1 {
    padding-top: 1em;
  }

  .home-pic-2 {
    background-size: contain;
    width: 100vw;
    height: 10em;
  }

  .home-pic-3 {
    display: none;
  }

  .home--ethics--container {
    height: auto;
    display: block;
  }

  .home--ethics--container div {
    margin: 0;
  }

  .home--ethics--container {
    height: auto;
    text-align: center;
  }

  .home--ethics--container a,
  .home--ethics--container h2 {
    width: 100%;
  }

  .home--ethics--text {
    text-align: center;
    padding: 0 2em 2em;
    margin: 2em;
  }

  .home-all .nav a {
    color: #14213d;
  }

  .home-pic-mobile {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1em;
    width: 100vw;
    height: 50vh;
  }
}

/**
 * Very large screens over 1080p
 */
@media (min-width: 1920px) {
  .home-all p {
    font-size: 2rem;
  }

  .home-all h2 {
    font-size: 4.75rem;
  }
}
