.nav {
  color: #14213d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 998;
  top: 0;
  left: 0;
  border-bottom: 2px solid #b8bcc5;
  padding: 0 2rem 0 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  position: relative;
  width: 100%;
}

.nav a {
  color: #14213d;
  padding: 1rem;
  text-decoration: none;
  border-bottom: none;
}

.nav a:hover {
  color: #ffa500;
  transition: 0.2s ease-in;
}

.nav li {
  list-style: none;
}

.nav li a {
  font-size: 1.5rem; /* Increased font size for better readability */
  font-weight: 700;
  letter-spacing: -0.05em;
}

.nav-logo {
  height: 7vh;
  width: 10vw;
  background-image: url("../../imgs/min/logo.svg");
  background-size: 14vh;
  background-repeat: no-repeat;
  z-index: 999;
  background-size: contain;
  background-position: center;
}

.site-title {
  padding-left: 1rem;
}

@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100vw;
  }

  .site-title {
    height: 20vw;
    padding: 0;
    padding-top: 3vw;
  }

  .site-title a {
    padding: 0;
  }

  .nav-logo {
    background-size: 20vw;
    width: 100vw;
  }

  .nav li {
    padding: 0;
    margin-bottom: 1rem;
  }

  .nav li a {
    font-size: 4vw;
  }

  .site-title {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}
